<div
  class="overlay"
  (click)="onToggleVisibility()"
  [ngClass]="{ hidden: isHidden }"
></div>

<form [ngClass]="{ hidden: isHidden }">
  <div class="border-form">
    <h2>Connexion</h2>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" />
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Mot de passe"
      />
    </div>
    <button>Se connecter</button>
    <hr />
    <button>Se connecter avec Google</button>
    <a href="#">👉 Vous n'avez pas encore de compte ? 👈</a>
  </div>
</form>

<h1> {{ title }} </h1>
